# Python
venv/
__pycache__/
*.pyc

# Data & Models
data/raw/*
data/processed/*
mlruns/
mlartifacts/
*.db
*.npy
*.pt

# Secrets
.env

# Keep directory structures
!data/raw/.gitkeep
!data/processed/.gitkeep

# IDEs
.vscode/
.idea/
.DS_Store
